.mainContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060913;
    color: #fff;
    overflow: hidden;
    padding: 100px 0;
}

.h2Div {
    position: absolute;
    top: 6rem;
}

.swiper {
    width: 100%;
    padding: 50px 0;
}

.swiperSlide {
    position: relative;
    width: 320px;
    aspect-ratio: 3/4;
    border-radius: 14px;
    border: 1px solid rgba(177, 177, 177, 0.4);
}

.img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    user-select: none;
}

.title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    width: max-content;
    text-align: center;
    padding: 10px 18px;
    background: rgba(46, 39, 39, 0.3);
    border-radius: 8px;
    border: 2px solid rgba(177, 177, 177, 0.4);
    box-shadow: 0 4px 30px rgba(00, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.5s linear;
}

.span {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .swiperSlide {
        width: 300px;
    }
}

@media screen and (max-width: 900px) {
    .swiperSlide {
        width: 250px;
    }
}

@media screen and (max-width: 768px) {

    .swiperSlide {
        width: 230px;
    }

    .title {
        padding: 5px 10px;
    }

    .span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .swiperSlide {
        width: 200px;
    }

    .span {
        font-size: 0.9rem; 
    }
}