.container {
    min-height: 50vh;
    /* background-color: green; */
    /* padding: 100px 0; */
    position: relative;
}

.imageDiv {
    height: 80vh;
    background-image: url(/images/img/civil.png);
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
    border: 5px inset #fff;
}

.p {
    padding: 0 8%;
    text-align: start;
}

.h4 {
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid #fff;
    font-size: 18px;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border-radius: 3px;
}

.h4:hover {
    background-color: #fff;
    color: #B31312;
}

@media screen and (max-width: 768px) {
    .imageDiv {
        height: 80vh;
        object-fit: cover;
    }

    .text {
        width: 90%;
        padding: 20px 0;
        top: 55%;
    }

    .h1 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .p {
        padding: 0 10%;
    }

    .h4 {
        padding: 8px 30px;
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .imageDiv {
        height: 100vh;
        object-fit: cover;
    }
}

