.mainContainer {
    display: flex;
    height: 100vh;
    background: url(/images/img/bluebg.png);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.leftSide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.input {
    padding: 20px;
    background-color: #e8e6e6;
    border: none;
    outline: none;
    border-radius: 5px;
}

.textarea {
    padding: 20px;
    background-color: #e8e6e6;
    border: none;
    outline: none;
    border-radius: 5px;
}

.button {
    padding: 15px;
    background-color: #B31312;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.p {
    color: #fff;
    font-size: 14px;
}

.rightSide {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .rightSide {
        display: none;
    }

    .leftSide {
        justify-content: center;
    }
}