.mainContainer {
    min-height: 50vh;

    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px;
}

.container {
    height: 55%;
    background-color: #00093c;
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
}

.h1 {
    padding: 10px;
    text-align: center;
    color: #eeeeee;
}

.p {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    color: #eeeeee;
}

.show {
    font-size: 14px;
    text-align: justify;
    color: #eeeeee;
}

.btn {
    padding: 5px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #B31312;
    color: #eeeeee;
    transition: all .5s ease-in-out;
}

.btn:hover {
    background-color: #fff;
    color: #00093c;
}

@media screen and (max-width: 768px) {
    .mainContainer {
        flex-direction: column;
        padding: 0 20px;
        margin-bottom: 50px;
    }

    .container {
        flex: 1;
    }

    .h1 {
        font-size: 1rem;
    }
   
}

/* .mission {
    background: #00093c;
    height: 95vh;
}

.missionH1 {
    text-align: center;
    color: #fff;
    padding: 3rem 0;
    font-size: 1.3em;
}

.missionSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .mission {
        background: #00093c;
        height: 144vh;
    }

    .missionH1 {
        font-size: 1.2rem;
    }

    .missionSection {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .mission {
        background: #00093c;
        height: 144vh;
    }

    .missionH1 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 590px) {
    .mission {
        height: 152vh;
    }

    .missionH1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 481px) {
    .mission {
        height: 125vh;
    }

    .missionH1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 398px) {
    .mission {
        height: 155vh;
    }

    .missionH1 {
        font-size: .9rem;
    }
}

@media screen and (max-width: 281px) {
    .mission {
        height: 150vh;
    }

    .missionH1 {
        font-size: .9rem;
    }

    .missionH1 {
        padding: 1rem 0;
        font-size: .8rem;
    }
} */