.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

.line {
    position: absolute;
    margin: 20px auto;
    width: 100%;
    overflow: hidden;
    height: 20%;
    /* background: #00093c; */
    background-image: url(/images/img/pic2.png);
}

.text {
    position: absolute;
    z-index: 30;
    top: 16%;
    left: 12%;
    transform: translate(-50%, -50%);
}

.h2 {
    color: #00093c;
    font-size: 50px;
}

.line1 {
    z-index: 15;
    opacity: 0.5;
}

.line2 {
    z-index: 10;
    opacity: 0.7;
}

.line3 {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center;
}

.wave1 {
    -webkit-background-size: 50% 80px;
    background-size: 50% 80px;
}

.wave2 {
    -webkit-background-size: 50% 100px;
    background-size: 50% 100px;
    animation: animate 12s linear infinite;
}

.wave3 {
    -webkit-background-size: 50% 80px;
    background-size: 50% 80px;
    animation: animate 18s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.5);
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}

@media screen and (max-width: 1024px) {
    .line {
        height: 10%;
    }

    .h2 {
        font-size: 25px;
        color: #00093c;
    }

    .text {
        position: absolute;
        z-index: 30;
        top: 9%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 768px) {
    .line {
        height: 13%;
    }

    .h2 {
        font-size: 22px;
        color: #00093c;
    }

    .text {
        position: absolute;
        z-index: 30;
        top: 11.5%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 481px) {

    .line {
        height: 14%;
    }

    .h2 {
        font-size: 18px;
        color: #00093c;
    }

    .text {
        position: absolute;
        z-index: 30;
        top: 13%;
        left: 18%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 398px) {
    .line {
        height: 15%;
    }

    .h2 {
        font-size: 16px;
        color: #00093c;
    }

    .text {
        position: absolute;
        z-index: 30;
        top: 15%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 281px) {
    .line {
        height: 20%;
    }

    .h2 {
        font-size: 16px;
        color: #00093c;
    }

    .text {
        position: absolute;
        z-index: 30;
        top: 18%;
        left: 23%;
        transform: translate(-50%, -50%);
    }
}