.container {
    background: url(/images/img/aboutusImg.png) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.innerContainer {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 50px;
}

.h1 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #00093c;
}

.p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

@media screen and (max-width: 1200px) {
    .innerContainer {
        padding: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        background-size: 100%;
        padding: 100px 40px;
    }

    .innerContainer {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0;
    }

    .innerContainer {
        padding-top: 6rem;
    }
}