.container {
    background: url(/images/img/aboutusImg.png) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.innerContainer {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 50px;
}

.h1 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #00093c;
}

.p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

@media screen and (max-width: 1200px) {
    .innerContainer {
        padding: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        background-size: 100%;
        padding: 100px 40px;
    }

    .innerContainer {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0;
    }

    .innerContainer {
        padding-top: 6rem;
    }
}

/* .whoWeAre {
    padding-top: 14rem;
    margin: 0 12rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.whoWeAreH3Div {
    height: 40px;
    width: 300px;
    background: #00093c;
    margin: auto;
    padding-top: 8px;
    margin-bottom: 40px;
    border-radius: 3px;
}

.whoWeAreH3 {
    color: #fff;
}

.whoWeAreP {
    text-align: justify;
    font-size: 15px;
    color: #818589;
}



@media screen and (max-width: 1024px) {
    .whoWeAre {
        padding-top: 12rem;
        margin: 0 2rem;
        margin-bottom: 50px;
    }

    .whoWeAreH3Div {
        height: 60px;
        width: 300px;
        padding-top: 14px;
        margin-bottom: 20px;
    }

    .whoWeAreH3 {
        font-size: 1.2rem;
    }

    .whoWeAreP {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    .whoWeAre {
        padding-top: 12rem;
        margin: 0 2rem;
        margin-bottom: 50px;
    }

    .whoWeAreH3Div {
        height: 50px;
        width: 250px;
        padding-top: 15px;
        margin-bottom: 20px;
    }

    .whoWeAreH3 {
        font-size: 1rem;
    }

    .whoWeAreP {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 481px) {
    .whoWeAre {
        padding-top: 10rem;
        margin: 0 2rem;
        margin-bottom: 50px;
    }

    .whoWeAreH3Div {
        height: 40px;
        width: 200px;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .whoWeAreH3 {
        font-size: .9rem;
    }

    .whoWeAreP {
        font-size: 1rem;
    }
}

@media screen and (max-width: 281px) {
    .whoWeAre {
        padding-top: 10rem;
        margin: 0 2rem;
        margin-bottom: 50px;
    }

    .whoWeAreH3Div {
        height: 40px;
        width: 200px;
        padding-top: 11px;
        margin-bottom: 20px;
    }

    .whoWeAreH3 {
        font-size: .8rem;
    }

    .whoWeAreP {
        font-size: .9rem;
    }
} */