.container {
    height: 300px;
    max-width: 550px;
    margin-top: 20rem;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(225, 225, 225, 0.1);
    border-radius: 3px;
}

.h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #c76f6f;
  font-weight: 500;
}

.p {
  margin: 0 5rem;
  padding-top: 2rem;
  line-height: 25px;
  font-size: 16px;
  color: #ddd9d9;
}


@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px;
    height:350px;
    margin: 0 100px;
    margin-top: -5rem;
  }

  .h3 {
    font-size: 1.5rem;
    margin-top: 20px;
  
  }

  .p {
    font-size: 1.4rem;
    padding-top: 1.5rem;
    line-height: 1.8;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 800px;
    height: 300px;
    margin: 0 40px;
  }

  .h3 {
    font-size: 1.6rem;
    margin-top: 20px;
  
  }

  .p {
    font-size: 1.5rem;
    padding-top: 1rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 481px) {
  .container {
    max-width: 350px;
    height: 250px;
    margin: 0 40px;
  }

  .h3 {
    font-size: 1.1rem;
    margin-top: 20px;
  
  }

  .p {
    font-size: 1.1rem;
    margin: 0 15px;
    padding-top: 1rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 398px) {
  .container {
    max-width: 300px;
    height: 200px;
    margin: -40px 40px;
  }

  .h3 {
    font-size: 1.1rem;
  }

  .p {
    font-size: .9rem;
  }
}

@media screen and (max-width: 281px) {
  .container {
    max-width: 200px;
    height: 200px;
  }

  .h3 {
    font-size: .8rem;
  }

  .p {
    font-size: .75rem;
  }
}