
.h1 {
    padding-top: 6rem;
    text-align: center;
    font-size: 1.5rem;
    color: #B31312;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px;
}

.container {
    flex: 1 1 30rem;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    cursor: text;
}

.h3 {
    font-size: 1.5rem;
    color: #00093c;
}

.p {
    font-size: 1rem;
    text-align: start;
    color: #666;
    padding: 1rem 8rem;
}

.container:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

@media screen and (max-width: 768px) {

    .h1 {
        font-size: 1.3rem;
    }

    .mainContainer {
        padding: 50px 2rem;
    }

    .container {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    }

    .h3 {
        font-size: 1.2rem;
    }

    .p {
        font-size: 1rem;
        color: #666;
        padding: 1rem 2rem;
        text-align: start;
    }
}

@media screen and (max-width: 600px) {

    .p {
        font-size: 1rem;
        color: #666;
        padding: 1rem 0;
        text-align: start;
    }
}
/* .mainContainer {
    height: 100vh;
    background: url(/images/img/bluebg.png);
    display: flex;
    justify-content: center;
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 14rem 4rem;
    white-space: nowrap;
    position: absolute;
    color: #c76f6f;
    font-weight: 400;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.leftSide {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20%;
}

.li {
   font-size: 2rem;
   font-weight: 600;
   cursor: pointer;
   color: #ddd9d9;
}

.clicked {
    color: red;
}

.li:nth-child(1), .li:nth-child(5) {
    padding-left: 100px;
}

.li:nth-child(2), .li:nth-child(4) {
    padding-left: 50px;
}

.rightSide {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .leftSide {
        justify-content: flex-start;
    }

    .ul {
        gap: 1rem;
        margin-left: 10%;
        margin-bottom: 20px;
       
    }

    .li {
        font-size: 1rem;

     }

    .li:nth-child(1), .li:nth-child(5) {
        padding-left: 0;
    }
    
    .li:nth-child(2), .li:nth-child(4) {
        padding-left: 0;
    }
} */

/* @media screen and (max-width: 1024px) {
    .container {
        width: 100%;
        flex-direction: column;
    }

    .header {
        font-size: 1.5rem;
        margin-top: 12rem;
    }

    .leftSide {
        justify-content: flex-start;
        align-items: flex-start;
        padding: 100px;
    }

    .ul {
        gap: 30px;
        margin-top: 12rem;
    }

    .li {
        font-size: 1.5rem;
    }

    .li:nth-child(1), .li:nth-child(5) {
        padding-left: 0;
    }
    
    .li:nth-child(2), .li:nth-child(4) {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {

    .header {
        font-size: 1.5rem;
        margin-top: 12rem;
    }

    .leftSide {
        padding: 40px;
    }

    .ul {
        gap: 20px;
        margin-top: 15rem;
    }

    .li {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 481px) {
    .header {
        font-size: 1.1rem;
    }

    .ul {
        gap: 15px;
        margin-top: 14rem;
    }

    .li {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 450px) {
    .header {
        font-size: 1rem;
        margin-top: 10rem;
    }

    .ul {
        gap: 10px;
        margin-top: 12rem;
    }

    .li {
        font-size: 1rem;
    }
}

@media screen and (max-width: 398px) {
    .header {
        font-size: 1rem;
        margin-top: 12rem;
    }

    .ul {
        gap: 10px;
        margin-top: 12rem;
    }

    .li {
        font-size: 1rem;
    }
}

@media screen and (max-width: 281px) {
    .header {
        font-size: .8rem;
    }

    .ul {
        gap: 10px;
        margin-top: 11rem;
    }

    .li {
        font-size: .8rem;
    }
} */