
.h1 {
    padding-top: 6rem;
    text-align: center;
    font-size: 1.5rem;
    color: #B31312;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px;
}

.container {
    flex: 1 1 30rem;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    cursor: text;
}

.h3 {
    font-size: 1.5rem;
    color: #00093c;
}

.p {
    font-size: 1rem;
    text-align: start;
    color: #666;
    padding: 1rem 8rem;
}

.container:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

@media screen and (max-width: 768px) {

    .h1 {
        font-size: 1.3rem;
    }

    .mainContainer {
        padding: 50px 2rem;
    }

    .container {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    }

    .h3 {
        font-size: 1.2rem;
    }

    .p {
        font-size: 1rem;
        color: #666;
        padding: 1rem 2rem;
        text-align: start;
    }
}

@media screen and (max-width: 600px) {

    .p {
        font-size: 1rem;
        color: #666;
        padding: 1rem 0;
        text-align: start;
    }
}